.tcdPageCode{
    padding: 20px 0 70px 0;
    text-align: center;
}
.tcdPageCode a{
    display: inline-block;
    margin: 0 10px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #47494a;
    background: #edf0f2;
    text-align: center;
}
.tcdPageCode a:hover{
    color: #fff;
    background: #3790ff;
}
.tcdPageCode span.current{
    display: inline-block;
    margin: 0 10px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #fff;
    background: #3790ff;
    text-align: center;
}
.tcdPageCode span.disabled{
    display: inline-block;
    width: 88px;
    height: 44px;
    line-height: 44px;
    margin: 0 10px;
    color: #bfbfbf;
    background: #f2f2f2;
    text-align: center;
}
.page-width{
    width: 88px !important;
}